$mob-widths: "(min-width: 320px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1050px)";

$white: #ffffff;
$light-purple: #d5d2ee;
$purple: #6d4182;
$purple-hover1: #9d3a99;
$purple-hover2: #93398d;
$black: #000000;
$gray: #888888;
$orange: #fb9f18;
$rgbl: #00919b;
